      @media screen and (min-width: 428px) {
          .container {
              max-width: 428px;
          }

          .mobile-menu {
              background: var(--white, #FFF);
              box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
              ;
              width: 428px;
              height: 796px;
          }

          .mobilebtn {
              background-color: blue;
              width: 40px;
              height: 40px;
          }

          .address {
              display: none;
          }

          .menu {
              display: none;
          }

          .burger {
              background-color: aqua;
          }

          .titletwo {
              margin: 0 auto;
          }

          .divtwo {
              display: none;
          }

          .listone {
              display: flex;
              width: 100%;

              flex-direction: column;
              align-items: flex-start;
              gap: 8px;
          }

          .listitemtwo {
              max-width: 264px;
              max-height: 396px;
              margin: 0 auto;
          }

          .custlist {
              width: calc((100% - 16px) / 3);
              width: 190px;

          }

          .custul {
              flex-wrap: wrap;
              flex-direction: row;
              gap: 72px 16px;
          }

          .titleone {
              width: 320px;
              font-size: 36px;
          }

          .sectionthree {
              display: none;
          }

          .sectionone {
              background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/officephotomin.jpg);
          }

          .logotypetwo {
              width: 117px;
              margin-left: 145px;
              margin-bottom: 17.5px;
          }

          .paragraph {
              margin-left: 80px;
              width: 268px;
              margin-top: 17.5px;
          }

          .foterstyle {

              flex-direction: column;
              flex-wrap: wrap;
              gap: 24px;
          }

          .meduza {
              margin-top: 72px;
              text-align: center;
          }

          .soneul {
              margin-left: 95px;

              width: 208px;
          }

          .more {
              margin-top: 72px;
              text-align: center;
          }

          .lake {
              margin: 0;
          }


          .input {
              width: 398px;
          }

          .foterbtn {
              margin-top: 16px;
              margin-left: 115px;
          }
          
          .manyphotos{width: 396px;}
          .listlist{width: 428px;
        gap: 24px 16px;
    flex-direction: column;}
    .one{width: 53px;
    text-align: center;}
    .two{width: 100px;}
    .three{}
    .four{}
    .five{}


      }

      @media screen and (min-width: 768px) {
          .container {
              max-width: 768px;
          }

          .container.vipcontainer {
              max-width: 584px;
          }

          .divtwo {
              display: none;
          }

          .listone {
              display: flex;
              width: 100%;

              flex-direction: column;
              align-items: flex-start;
              gap: 8px;
              width: calc((100% - 24px) / 2);
              max-width: 356px;

          }

          .titletwo {
              text-align: left;
              margin: 0;
          }

          .planlist {
              flex-direction: row;
              gap: 72px 24px;
          }

          .custul {
              flex-wrap: wrap;
              flex-direction: row;
              gap: 72px 24px;
          }

          .custlist {
              width: calc((100% - 16px) / 2);
              width: 168px;
              margin: 0 auto;
          }

          .sectionthree {
              display: none;
          }

          .sectionone {
              background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/officephotomidl.jpg);
          }

          .titleone {
              font-size: 56px;
              width: 496px;
              height: 120px;
          }

          .button {
              margin-top: 36px;
          }

          .foterdiv {
              margin: 0;
              display: flex;
          }

          .logotypetwo {
              margin-left: 108px;
          }

          .paragraph {
              margin-left: 108px;
          }

          .lake {
              display: flex;
              flex-wrap: wrap;
          }
      }



      @media screen and (min-width: 1158px) {
          .container {
              max-width: 1128px;
              margin: 0 auto;
          }

          .container.vipcontainer {
              max-width: 1158px;
          }

          .titletwo {
              margin-top: 8px;
          }

          .listone {
              min-width: 264px;
          }

          .listparagraph {
              max-height: 72px;
          }

          .divtwo {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 264px;
              height: 112px;
              background-color: #f4f4fd;
              border-radius: 4px;
              margin-bottom: 8px;
          }

          .planlist {
              display: flex;
              gap: 24px;
              flex-wrap: nowrap;
          }

          .custul {
              gap: 24px;
              display: flex;
              min-width: 1128px;

              list-style-type: none;
          }

          .custlist {
              max-width: 168px;

              margin: 0;
          }

          .sectionthree {
              display: block;
          }

          .sectionone {
              background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/officephoto.jpg);
          }

          .form {
              display: flex;
              gap: 24px;
          }

          .foterbtn {
              margin: 0;
          }

          .input {
              width: 264px;
              margin-left: 80px;
          }

          .paragraph {
              margin: 0;
          }

          .logotypetwo {
              margin: 0;
          }

          .okean {
              margin: 0;
          }

          .more {
              margin-left: 80px;
              text-align: left;
          }

          .address {
              display: flex;
          }

          .menu {
              display: flex;
          }

      }