      @media screen and (min-width: 428px) {
          .container {
              max-width: 428px;
          }

          .titletwo {
              margin: 0 auto;
          }

          .divtwo {
              display: none;
          }

          .listone {
              display: flex;
              width: 100%;

              flex-direction: column;
              align-items: flex-start;
              gap: 8px;
          }
          .listitemtwo{max-width: 264px;
        max-height: 396px;
    margin: 0 auto;}
    .custlist{width: calc((100% - 16px) / 3);
    width: 190px;
}
    .custul{flex-wrap: wrap;
    flex-direction: row;
    gap: 72px 16px;}
    .titleone{width: 320;}

      }

      @media screen and (min-width: 768px) {
          .container {
              max-width: 768px;
          }

          .divtwo {
              display: none;
          }

          .listone {
              display: flex;
              width: 100%;

              flex-direction: column;
              align-items: flex-start;
              gap: 8px;
              width: calc((100% - 24px) / 2);
              max-width: 356px;

          }

          .titletwo {
              text-align: left;
              margin: 0;
          }

          .planlist {
              flex-direction: row;
              gap: 72px 24px;
          }
          .custul{flex-wrap: wrap;
            flex-direction: row;
            gap: 72px 24px;}
            .custlist{width: calc((100% - 16px) / 2);
            width: 168px;
        margin: 0 auto;}
      }

      @media screen and (min-width: 1158px) {
          .container {
              max-width: 1128px;
              margin: 0 auto;
          }
          .titletwo{margin-top: 8px;}

          .listone {min-width: 264px;}
          .listparagraph{max-height: 72px;}

          .divtwo {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 264px;
              height: 112px;
              background-color: #f4f4fd;
              border-radius: 4px;
              margin-bottom: 8px;
          }

          .planlist {
              display: flex;
              gap: 24px;
              flex-wrap: nowrap;
          }
          .custul{
            gap:  24px;
            display: flex;
            min-width: 1128px;
 
            list-style-type: none;}
            .custlist{
                max-width: 168px;

            margin: 0 ;}
           
               
      }