:root {
    --background-color: #FFFFFF;
}

.current::after {
    width: 100%;
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    display: block;

}


div {
    padding: 0;
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
}

h1 {
    margin: 0;
}

h2 {
    margin: 0;
}

h3 {
    margin: 0;
}

.body {
    background-color: #FFFFFF;
    color: #434455;
    font-family: "Roboto", sans-serif;
    
}

.foterstyle {
    background-color: #2e2f42;
    padding: 100px 0;
}

.logotype {
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    margin-right: 76px;
    position: relative;
}

.sectionone {
    background-color: #2e2f42;
    padding: 188px 0 188px;
    
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;


}

.titleone {
   
    font-style: normal;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
    
    margin: 0 auto;
    
}

.button {
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 72px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 0;
    


}

.button:hover {
    background-color: #404BBF
}

.button:focus {
    background-color: #404BBF
}


.titletwo {

    font-weight: 500;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navyblue, #2E2F42);
    margin-bottom: 8px;
    
    }

.titlethree {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 8px;
}

.divtwo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
    display: block;
    
}




.listparagraph {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; 
    letter-spacing: 0.02em;

    margin: 0 auto;


}

.listparagraph:focus {
    transform: translateY(0%)
}

.listparagraph:hover {
    transform: translateY(0%)
}

.team {

    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.sectionfour {
    background-color: #F4F4FD;
    padding: 120px 0;
}

.listitemtwo {
    background-color: #ffffff;
    flex-basis: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    ;
}

.linktwo {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.paragraph {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    max-width: 264px;
}

.span {
    color: #f4f4fd;
}

.list {
    list-style: none;
}

.spantwo {
    color: #2e2f42;
}

.headerlink {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0 24px;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);


}

.headerlink:hover {
    color: #404bbf;
}

.headerlink:focus {
    color: #404bbf;
}

.address {
    font-style: normal;
    margin-left: auto;
}


.link {
    text-decoration: none;
}

.mail {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);


}

.tel {
    position: relative;
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.mail:hover {
    color: #404bbf;
}

.mail:focus {
    color: #404bbf
}

.buttontwo {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #4d5ae5;
    background-color: #F4F4FD;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    padding: 12px 24px;
    border: 1px solid #e7e9fc;
    border-radius: 4px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    ;
}

.buttontwo:hover {
    color: #FFFFFF;
    background-color: #404BBF;
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.buttontwo:focus {
    color: #FFFFFF;
    background-color: #404BBF;
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.sectionfive {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.img {
    display: block;
}

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.div {
    display: flex;
    align-items: center;
}

.container {
  width:100%;
    margin: 0 auto;
    padding: 0 16px 0 16px;
    


}


.nav {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    gap: 40px;

}

.connection {
    display: flex;
    gap: 40px;
}

.sectiontwo {
    padding: 96px 0;
}

.planlist {
    display: flex;
flex-direction: column;
    flex-wrap:wrap;
    gap: 72px;
  
}

.listone {
    flex-basis: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
    
    
}

.sectionthree {
    padding-bottom: 120px;
}
.planlisttwo{display: flex;
    
        flex-wrap:wrap;
        }
        .listik {
            flex-basis: calc((100% - 48px) / 3)
        }



.workers {
    padding: 32px 0;
}

.logotypetwo {
    /* display: inline-block; */
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    

}


.headertwo {
    border-bottom: 1px solid #e7e9fc
}

.sectionsix {
    padding: 96px 0 120px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.listlist {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px
}

.listitemt {
    flex-basis: calc((100% - 3 * 24px) / 4)
}

.containertwo {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px 0 15px;
}

.photolist {
    flex-wrap: wrap;
    display: flex;
    column-gap: 24px;
    row-gap: 48px;
}

.manyphotos {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.photocon {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.display {
    display: flex;
}

.listparagraphtwo {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}

.studio {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0 24px;
    display: block;
    color: #404bbf;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sone {
    display: flex;
    justify-content: center;
    gap: 24px;
    list-style-type: none;
}

.soneul {
    display: flex;
    gap: 16px;
    list-style-type: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.soneone {
    width: 40px;
    height: 40px;

}

.sonelink {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sonelink:hover {
    background-color: #404bbf;
}

.sonelink:focus {
    background-color: #404bbf;
}

.sonesvg {
    fill: #f4f4fd;
}

.use {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}


.section {
    padding: 120px 0;
}

.cust {
    font-size: 36px;
    line-height: 1.11;
    color: #2e2f42;
    margin-bottom: 72px;
    text-align: center;
}

.custul {
    display: flex;
 
    list-style-type: none;
}

.custlist {
    width: calc((100% - 120px) / 6);
    height: 88px;

}

.custlink {
    width: 100%;
    height: 100%;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #8e8f99;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.custlink:hover {
    border-color: #404bbf;
    color: #404bbf;
}

.custlink:focus {
    border-color: #404bbf;
    color: #404bbf;
}

.custsvg {
    fill: currentColor;
}

.foterdiv {

    align-items: baseline;

}

.meduza {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.center {
    text-align: center;
}

.okean {
    margin-right: 120px;
}

.sonelinktwo {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    ;
}

.sonelinktwo:focus {
    background-color: #31d0aa
}

.sonelinktwo:hover {
    background-color: #31d0aa
}

.divscript {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modalwindow {
    width: 408px;
    min-height: 584px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.btnclose {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btnclose:hover {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}

.btnclose:focus {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}

.svgbtn {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio::after {
    position: absolute;
    left: 0;
    height: 4px;
    bottom: -1px;
    background-color: #404bbf;
    border-radius: 2px;
}

.portfolio {
    position: relative;
    color: #404bbf;
}

.manyphotoslink {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.manyphotoslink:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    ;
}

.manyphotoslink:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    ;
}

.portimg {
    position: relative;
    overflow: hidden;
}

.text {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.imgtwo {
    display: block;
}

.maniphotoslink:hover .text {
    transform: translateY(0%);
}

.manyphotoslink:focus .text {
    transform: translateY(0%);
}

.more {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.form {
  
    gap: 24px;
}

.input {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
}

::placeholder {
    color: #ffffff;
}

.foterbtn {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
}

.joystick {
    margin-left: 16px;
}

.modalparagrapf {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 16px;
}

.banka {
    margin-bottom: 8px;
}

.bag {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}

.mirror {
    position: relative;
}

.modalinput {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modalinput:focus {
    border-color: #4D5AE5;
}
.modalinput:focus+.svgbanka{fill: #4D5AE5;}

.svgbanka {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.candy {
    margin-bottom: 16px;
}

.textarea {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.textarea:focus {
    border-color: #4D5AE5;
}

.check {
    margin-bottom: 24px;
}

.checkk {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
}

.checkspan {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
margin-right: 8px;}
    .aaa{color: #4d5ae5;
    margin-left: 3px;}
    .formbutton{display: block;
        min-width: 169px;
        height: 56px;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #ffffff;
        cursor: pointer;
        background-color: #4D5AE5;
        border: none;
        border-radius: 4px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        margin: 0 auto;
        }
        /* .lake{margin-left: 80px;} */
        .checkinp:checked+.checkk .checkspan{background-color: #404bbf;
            border: none;
        fill: #F4F4FD;}
       .usemodal{background-color: #fcfcfc;}
       